body{
    background-color: #eee;}

.grid{
    display: grid;/*Otra manera de disponer la grilla con repeat*/
    grid-template-rows: repeat(2,[row-inicio] 50px [row-fin]);
    grid-template-columns: repeat(3,[col-inicio] 1fr [col-fin]);
    grid-gap: 15px;
}

.element{
    background-color: indianred;
}

.header{
    grid-column: col-inicio / col-fin 3; 
    grid-row: row-inicio / row-fin 3;
}